[submodule "xboxhdm23usb_linuxfiles"]
	path = xboxhdm23usb_linuxfiles
	url = https://github.com/parkerlreed/xboxhdm23usb_linuxfiles
[submodule "fatx"]
	path = fatx
	url = https://github.com/mborgerson/fatx
